.campus {
    display: flex;
    justify-content: center;
    
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
   

}

.gallery img{
    width: 100%;
    border-radius: 30px;
}

.btn.dark-btn{
    background:#212EA0 ;
    color: #fff;
}